
# Fichiers de configuration de l'environnement
.env
.venv/
__pycache__/
*.py[cod]
*.so

# Dossier de cache PyTorch
__pycache__/
.ipynb_checkpoints/

# Checkpoints et modèles
*.ckpt
*.pt
*.pth

# Dossiers de sortie
output/
logs/
